.simonBigBtn {
	width: 20vw;
	height: 22vw;
}


#btn_g {
  background-color:green;
}
#btn_r {
  background-color:red;
}
#btn_b {
  background-color:blue;
}
#btn_y {
  background-color:yellow;
}


/*
 a:link {
	opacity:0.8;
	text-decoration: none;
	//color: black;
}

 a:hover{
	opacity:1.0;
	text-decoration: none;
}


 a:visited {
	opacity:0.6;
	text-decoration: none;
	//color: black;
}

 a:active {
		text-decoration: none;
}
*/