.gameCont {
	border: solid 1px red;
	padding: 10% 5% 10% 5%;
	border-radius: 0%;
}

.btn {
	cursor: pointer;
	border-radius: 0%;
}

.simonBigBtn, .simonBigBtn:focus, .simonBigBtn:visited {
	width: 75px;
	height: 75px;
	outline: none;
	opacity: 0.6;
	border-radius: 0%;
	cursor: pointer;
	touch-action:auto;
}

.simonBigBtn:hover {
	opacity: 0.8;
	/*transform: translateY(-6px);*/
}

.simonBigBtn:active{
	transform: translateY(8px);
	outline: none !important;
	cursor: pointer;
	opacity: 1.0;
	
}

.winText {
	color:rgba(0,0,0,0);
}

.simonBtnActive {

	transform: translateY(8px);
  outline: none !important;
  opacity: 1.0;

}


/*
.simonBigBtn:active {
  transform: translateY(4px);
}
*/



#btn_g {
  background-color:green;
}
#btn_r {
  background-color:red;
}
#btn_b {
  background-color:blue;
}
#btn_y {
  background-color:yellow;
}



@media only screen and (max-width: 425px) {

	.simonBigBtn, .simonBigBtn:focus, .simonBigBtn:visited {
		width: 20vw;
		height: 20vw;
	}


}
