body {
	position: relative;
	margin-bottom: 70px;
}

h1, h2, h3 {
	
	font-family: Oswald, sans-serif !important;
	
}

p {
	font-family:"Open Sans" !important;
}


/*
.projThumb {
	height: 568px !important;
}
*/

#aboutdiv  p { 
	font-size: 220%;
}

#contdiv  p { 
	font-size: 150%;
}

#portdiv p{
	font-size: 130%;
}

.blackBorder {
	border: 2px solid black;
	
}

.redBG {
	background-color: red;
}

.padMore {
	padding-left: 10%;
	padding-right: 10%;
}


.hidden {
	visibility:hidden;
}

.navbar-right {
	padding-right:50px;
}

.navbar-left {
	padding-left:50px;
}

.socialbtn a:link {
	opacity:0.8;
	text-decoration: none;
	color: black;
}

.socialbtn a:hover{
	opacity:1.0;
	text-decoration: none;
}


.socialbtn a:visited {
	opacity:0.6;
	text-decoration: none;
	color: black;
}

.socialbtn a:active {
		text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 50px !important;
    width: 50px !important;
    text-align: center;
    text-decoration: none;
}

.whitebg {
	background-color:rgba(255,255,255,0.4);

}



.whiteText {
	
	color: white;

}




