
.ticBtns {
	width: 100%;
	margin: 0px 15% 15% 0px;
}

.winBtn {
	background-color: red;
}

.winBtnAlt {
	background-color: white;
}



/*
 a:link {
	opacity:0.8;
	text-decoration: none;
	//color: black;
}

 a:hover{
	opacity:1.0;
	text-decoration: none;
}


 a:visited {
	opacity:0.6;
	text-decoration: none;
	//color: black;
}

 a:active {
		text-decoration: none;
}
*/