/*sticky footer w/ flexbox*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
/*sticky footer w/ flexbox*/

/*BRANDING*/
.brandFoot {
	margin-top: 25%;
	background-color:rgba(255,255,255,0.0) !important;
	border:none;
}

.brandFoot p{
	font-size: 12px !important;
}

.brandFoot a{
	font-size: 44px !important;
}

/*social buttons*/
.socialbtn a:link {
	opacity:0.8;
	text-decoration: none;
	color: black;
}

.socialbtn a:hover{
	opacity:1.0;
	text-decoration: none;
}


.socialbtn a:visited {
	opacity:0.6;
	text-decoration: none;
	color: black;
}

@media only screen and (max-height: 500px) {

	.brandFoot {
		visibility: hidden;
	}

/*BRANDING*/
