/*overwrite progressbar.js API styles*/


body { 
    background: url("https://image.ibb.co/gB6FOa/geometry.png") repeat 0 0;
}

.jumbotron {
	background-color: rgba(0,0,0,0.0) !important;
}

.btn_pom{
	color: #fff !important;
	background-color:#FF4242;
	border-color:#FF4242;
	border-radius:0% !important;
}

.btn_pom:active, .btn_pom:hover, .btn_pom:visited, .btn_pom:focus {
    color: #fff !important;
    background-color: #FF3F3F;
    border-color: #FF3F3F;
    outline: none !important;
    border-radius:0% !important;
}

.btn_pom:active {
  transform: translateY(2px);
  outline: none !important;
}

/*progressbar div*/
#progressCir {
  margin: auto;
 
  width:35%;
  height: 35%;
 
}

.hider{
   visibility:hidden;
}
/*fonts*/		
h1{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 60px;
	line-height: 65px;
}

.progressbar-text{
	font-size:7vw;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%);
}

h3 {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 30px;
	line-height: 25px;
}
/*overite bootstrap btn fonts*/
p, h4, .btn{
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	#progressCir {
	  margin: auto;
	 
	  width:70%;
	  height: 70%;
	 
	}
	p, h4, .btn{
		font-size: 28px;
		line-height: 28px;
	}
  .progressbar-text{
    font-size:15vw;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
  }
}