/*overwrite progressbar.js API styles*/
.progressbar-text{
	font-size:250%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%);
}
/*progressbar div*/
#progressCir {
  margin: auto;	
  width: 250px;
  height: 250px;
}

.hider{
   visibility:hidden;
}
/*fonts*/		
h1, .progressbar-text{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

h3 {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
}
/*overite bootstrap btn fonts*/
p, h4, .btn{
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 16px;
	line-height: 20px;
}
