/*overwrite progressbar.js API styles*/


body { 
    background: url("img/geometry/geometry/geometry.png") repeat 0 0;
}

.jumbotron {
	background-color: rgba(0,0,0,0.0);
	border-bottom: 2px outset;
	border-radius:0%;
}

.btn{
	color: #fff;
	background-color:#FF4242;
	border-color:#FF4242;
	border-radius:100%;
	border: none;
}

.btn:active, .btn:hover, .btn:visited, .btn:focus {
    color: #fff;
    background-color: #FF3F3F;
    border-color: #FF3F3F;
    border-radius:100%;
    outline: 0;
}

.btn-square {
	border-radius:0%;
}

.btn-square:hover,  .btn-square:focus, .btn-square:active {
	border-radius:0%;
}

.progressbar-text{
	font-size:250%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0px;
  margin: 0px;
  transform: translate(-50%, -50%);
}
/*progressbar div*/
#progressCir {
  margin: auto;	
  width: 250px;
  height: 250px;
}

.hider{
   visibility:hidden;
}
/*fonts*/		
h1, .progressbar-text{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

h3 {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
}
/*overite bootstrap btn fonts*/
p, h4, .btn{
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 16px;
	line-height: 20px;
}
